* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background-color: #0019A6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-radius: 0;
  margin-bottom: 40px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-left img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  transform: scale(1.5);
}


.brand-name {
  color: #B1C9FF;
  font-size: 28px;
  font-weight: 600;
  font-family: sans-serif;
}

.header-right {
  display: flex;
  gap: 10px;
}

.header-right button {
  padding: 12px 28px;
  min-width: 140px;
  background-color: #eaeaea;
  color: #000000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
    width: auto;
    min-width: unset;
}

.header-right button:hover {
  background-color: #d5d5d5;
}

.header-right {
  display: flex;
  gap: 50px;
}

.header-left a.header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

